<a href="https://colab.research.google.com/github/leobioinf0/233_Introduccion_a_la_ciencia_de_datos/blob/main/4_4_REPASO_DEL_TEMARIO_CON_EJERCICIO_PRACTICO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4.4 REPASO DEL TEMARIO CON EJERCICIO PRÁCTICO

Repasemos lo que hemos hecho hasta ahora con unos ejercicios.  
Abre un proyecto nuevo con Jupyter Notebook e introduce este código que aparece en  pantalla. Primero, carga la librería Pandas y, después, crea una base de datos que guardamos  en una variable que podemos denominar, por ejemplo, notas.

In [ ]:
import pandas as pd

notas = pd.DataFrame([[6.5, 6.8, 5.8,7.9,8.8, 'Barcelona'], 
                       [6.8,7.,6.5,8.9,9.2, 'Girona'],
                       [7.8,6.2,6.5,4.1,8.0, 'Tarragona'], 
                       [16.9,7.2,4.7,8.8,6.2, 'Lieida']],
                       columns=['Historia', 'Meteméticas', 'Fisica', 'Ingiés', 'Biologia', 'Ciuded'], 
                       index = ['Joan','Laura','Enric','Georgina'])
notas

          Historia  Meteméticas  Fisica  Ingiés  Biologia     Ciuded
Joan           6.5          6.8     5.8     7.9       8.8  Barcelona
Laura          6.8          7.0     6.5     8.9       9.2     Girona
Enric          7.8          6.2     6.5     4.1       8.0  Tarragona
Georgina      16.9          7.2     4.7     8.8       6.2     Lieida

  
Bien,vemos que se trata de una tabla que recoge las notas de cuatro estudiantes y su ciudad de  procedencia. 

Para empezar, revisemos cómo podemos extraer la nota que ha sacado Laura en Física y la ciudad de Joan. ¿Sabes cómo hacerlo?

Solo hay que mencionar el nombre de la base de datos, seleccionar la columna del atributo,  en este caso física o ciudad y, después, indicar la posición de la observación, es decir, la  posición del estudiante del que queremos extraer la información:

In [ ]:
notas["Fisica"][1]

6.5

¿Te has fijado que estamos trabajando con diccionarios? Sí, el nombre de la columna es la  clave que da acceso a su lista de valores y, solo indicando la posición, obtenemos el dato que  queremos. 
   
Vamos, ahora, a hacer un filtro. Si queremos ver las observaciones (estudiantes) que han  aprobado física, ¿cómo lo haríamos? Pues denominamos la base de datos y, dentro de los corchetes, introducimos la condición. Es fácil, ¿verdad?

In [ ]:
notas[notas.Fisica > 5]

       Historia  Meteméticas  Fisica  Ingiés  Biologia     Ciuded
Joan        6.5          6.8     5.8     7.9       8.8  Barcelona
Laura       6.8          7.0     6.5     8.9       9.2     Girona
Enric       7.8          6.2     6.5     4.1       8.0  Tarragona

Si mostramos la tabla, veremos que Georgina es quien no ha aprobado física. ¿Y si ha sido un  error y realmente sí que lo ha aprobado? Si su nota es de 7.0, ¿cómo la podemos cambiar?  Pues bien, solo hay que acceder a su nota y cambiarla.

In [ ]:
notas["Fisica"][3] = 5.0
notas

<ipython-input-25-180156789102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notas["Fisica"][3] = 5.0

          Historia  Meteméticas  Fisica  Ingiés  Biologia     Ciuded
Joan           6.5          6.8     5.8     7.9       8.8  Barcelona
Laura          6.8          7.0     6.5     8.9       9.2     Girona
Enric          7.8          6.2     6.5     4.1       8.0  Tarragona
Georgina      16.9          7.2     5.0     8.8       6.2     Lieida

A continuación, extraemos una tabla reducida que esté formada por las notas de Biología de  solo las chicas. La clave está en usar el operador loc[].

In [ ]:
notas.loc[["Laura","Georgina"],["Biologia"]]

          Biologia
Laura          9.2
Georgina       6.2

Por último, vamos a hacer algo un poco más difícil. Añadimos una columna que muestre las  notas de cada estudiante y su desviación. ¡Construimos el código! Primero, tenemos que  crear dos listas. Después, crear un ciclo for que nos permita recorrer la tabla fila por fila. Por  eso usaremos el operador iloc[]. El operador formará una lista, a la que podremos aplicar la  función max() para calcular la media, y el operador std(), para calcular la desviación.  ¡Importante! Cada vez que apliquemos las funciones, el resultado se tiene que cargar a las  listas correspondientes: la media a su lista y la desviación a la suya. Es importante dar  nombres coherentes a las variables, para hacer que nuestro código sea fácil de entender, sin  tener que añadirle comentarios.

In [ ]:
mediana = []
desviacion = []

for i in range(4):
    med = notas.iloc[i, 0:5].mean()
    desv = notas.iloc[i, 0:5].std()
    mediana.append(med)
    desviacion.append(desv)

notas['Mediana'] = mediana
notas['Maxima'] = desviacion
notas

,Historia,Meteméticas,Fisica,Ingiés,Biologia,Ciuded,Mediana,Maxima
Joan,6.5,6.8,5.8,7.9,8.8,Barcelona,7.16,1.188697
Laura,6.8,7.0,6.5,8.9,9.2,Girona,7.68,1.267675
Enric,7.8,6.2,6.5,4.1,8.0,Tarragona,6.52,1.564289
Georgina,16.9,7.2,5.0,8.8,6.2,Lieida,8.82,4.726732

Es básico practicar para avanzar. Anímate y procura jugar un poco más con esta base de  datos. Aquí, hemos visto varias cosas, pero seguro que puedes encontrar más acciones para  hacer.